{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>

{{#if this.session.isAuthenticated}}
  Logged in
  <button
    type="button"
    {{on "click" this.logout}}
  >
    Logout
  </button>
{{else}}
  <MockLogin as |login|>
    {{#if login.isLoading}}
      loading...
    {{else}}
      {{#if login.errorMessage}}
        {{login.errorMessage}}
      {{/if}}

      <h2>Bring your own html!</h2>
      <ul>
        {{#each this.accounts as |account|}}
          <li>
            <button type="button" {{on "click" (fn login.login account.id account.gebruiker.group.id)}}>
              <strong>{{account.gebruiker.firstName}} {{account.gebruiker.lastName}}</strong> {{account.gebruiker.group.name}}
            </button>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </MockLogin>
{{/if}}

{{outlet}}
