<h2 id="title">Welcome to Ember</h2>

{{#if session.isAuthenticated}}
  Logged in as {{session.account.user.firstName}} {{sesion.account.user.lastName}} with activeGroup {{session.activeGroup.name}}
  {{mock-logout}}
{{else}}
  {{#mock-login as |login|}}
    {{#if login.loading}}
      loading...
    {{else}}
      {{login.errorMessage}}
      {{#login.each-account accounts=accounts as |row|}}
        {{row.display label="Firstname" value= row.value.user.firstName}}
        {{row.display label="Lastname" value =row.value.user.lastName}}
        {{row.display label="Group" value=row.value.user.groups.name}}
      {{/login.each-account}}
    {{/if}}
  {{/mock-login}}
{{/if}}
{{outlet}}
