{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>

{{#if this.session.isAuthenticated}}
  Logged in
  <MockLogout />
{{else}}
  <MockLogin as |login|>
    {{#if login.isLoading}}
      loading...
    {{else}}
      {{#if login.errorMessage}}
        {{login.errorMessage}}
      {{/if}}

      <login.each-account @accounts={{this.accounts}} as |account|>
        {{account.gebruiker.firstName}} {{account.gebruiker.lastName}} {{account.gebruiker.groep.name}}
      </login.each-account>
    {{/if}}
  </MockLogin>
{{/if}}

{{outlet}}
