<h2 id="title">Welcome to Ember</h2>

{{#if session.isAuthenticated}}
  Logged in
  {{mock-logout}}
{{else}}
  {{#mock-login as |login|}}
    {{#if login.loading}}
      loading...
    {{else}}
      {{login.errorMessage}}
      {{#login.each-account accounts=accounts as |account|}}
        {{account.gebruiker.firstName}} {{account.gebruiker.lastName}} {{account.gebruiker.groep.name}}
      {{/login.each-account}}
    {{/if}}
  {{/mock-login}}
{{/if}}
{{outlet}}
